h1 {
    background-color:  #A4BEBD;
    text-align: center;
}
h2 {
    text-align: center;
    font-style: italic;
}
p {
    text-align: center;
    background-color:  #A4BEBD;
}
div {
    background-color: black;
}
.content img {
    max-width: 50%;
    height: 300px;
    width: 300px;
    border: 15px dotted rgb(101, 161, 161);
    padding: 3px;
    margin: 5px;
    /*opacity: 0.8;
    filter: alpha(opacity=80);*/

}
/*.content img:hover{
    opacity: 0.1;
    filter: alpha(opacity=100);
}
*/